* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #F8F4EE;
}

.header {
    position: fixed;
    background: #165327;
    padding: 1rem 2rem;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 90px;
    cursor: pointer;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav-bar ul li a:hover {
    border-bottom: 2px solid white;
}

.logo img {
    height: 50px;
    width: 100px;
    object-fit: cover;
}

.sign-in-btn {
    border-radius: 56px;
    color: white;
    font-size: 20px;
    border: 3px solid white;
    padding: 5px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.sign-in-btn:hover {
    background-color: white;
    color: #165327;
    transition: 0.3s all ease-in-out;
}

.page1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 50px;
}

.page1 img {
    height: 60%;
    width: 60%;
    flex-shrink: 0;
}

.side-text {
    padding-top: 150px;
}

.side-text h1 {
    padding-top: 30px;
    font-size: 30px;
}

.side-text p {
    padding-top: 30px;
    font-size: 20px;
}

.button {
    padding: 100px;
    padding-left: 125px;
}

.trynow-btn {
    border-radius: 50px;
    border: 2px solid #165327;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background-color:#165327;
    cursor: pointer;
    transition: background-color 0.3s;
}

.trynow-btn:hover {
    background-color: white;
    color: #165327;
    transition: 0.3s all ease-in-out;
}

.page2 {
    text-align: center;
    padding-top: 50px;
}

.page2 img {
    height: 400px;
    padding: 60px 0px;
}

.page2 h2 {
    font-size: 30px;
}

.page2 p {
    padding: 30px 100px 0px;
    font-size: 25px;
}

.page3 {
    align-items: center;
    text-align: center;
    padding: 200px 0;
}

.page3 h2 {
    padding: 25px;
    font-size: 30px;
}

.page3 p {
    font-size: 20px;
}

.page3 img {
    padding-top: 50px;
}

.page4 {
    align-items: center;
    text-align: center;
}

.page4 h2 {
    padding: 25px;
    font-size: 30px;
}

.page4 p {
    font-size: 20px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.question img {
    max-width: 600px;
    height: auto;
}

 .question-box {
    padding: 20px;
    width: 800px;
 }

.question-box h5 {
    border: 1px solid #A9B388;
    background-color: #A9B388;
    font-size: 30px;
    padding: 15px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.question-box h5::after {
    content: "+";
    font-weight: bold;
    margin-left: auto;
}

.question-box h5.active::after {
    content: "-";
}

.question-box p {
    border: 1px solid #A9B388;
    background-color: #A9B388;
    font-size: 20px;
    padding: 15px;
    border-radius: 25px;
    margin-top: 10px;
    display: none;
}

.question-box h5.active + p {
    display: block;
}

.page5 {
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 50%; 
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #000; 
    font-size: 30px; 
    font-weight: bold;
    text-align: center;
}

.page5 p {
    position: absolute;
    top: 70%;
    left: 25%;
    color: #000; 
    font-size: 20px; 
    text-align: center;
}

.page5 .button {
    padding: 0;
}

.join-btn {
    border-radius: 50px;
    border: 2px solid #165327;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    background-color:#165327;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-btn:hover {
    background-color: white;
    color: #165327;
    transition: 0.3s all ease-in-out;
}